<section class="accordion-section">
  <div class="accordion-container container">
    <ul class="accordion-list">
      <li class="accordion-item">
        <h2 class="accordion-header">
          <button type="button" class="accordion-button">Education</button>
        </h2>
        <div class="accordion-panel">
          <div class="accordion-panel-text">
          <p class="accordion-text">
            2024 - 2026 / Medium-grade cycle of microcomputer systems and networks, IES Valle del Jerte
          </p>
          <p class="accordion-text">
            2024 - 2025 / Fullstack developer, IT School GoIT
          </p>
          </div>
        </div>

      </li>
      <li class="accordion-item">
        <h2 class="accordion-header">
          <button type="button" class="accordion-button">Languages</button>
        </h2>
        <div class="accordion-panel">
          <div class="accordion-panel-text">
          <p class="accordion-text">
            English - elementary
          </p>
          <p class="accordion-text">
            Spanish - upper-intermediate
          </p>
          <p class="accordion-text">
            Russian - native
          </p>
          <p class="accordion-text">
            Ukrainian - native
          </p>
        </div>
      </div>
      </li>
    </ul>
  </div>
</section>