<section class="footer-section section">
  <div class="footer-container container">
    <h2 class="footer-title">Let’s
      <span class="footer-title-span">work</span>
      <span class="footer-title-span">together</span>
    </h2>
<div class="footer-form-container">
  <form action="" class="footer-form" id="contact">
    <div class="form-container">
      <div class="form-contact">
      <div class="form-email-container">
      <input
      type="email"
      class="form-email"
      id="email"
      placeholder="Your email"
      required>
      <span class="email-success-message">Success!</span>
      <span class="email-error-message">Invalid email, please, try again</span>
    </div>
    <div class="form-comment-container">
      <textarea
      class="form-comment"
      name="form-comment"
      id="comment"
      placeholder="Message"
      required
      ></textarea>
    </div>
    </div>
    <button type="submit" class="form-button">Send message</button>
  </div>
  </form>
</div>
  </div>
</section>

<!-- <div class="footer-modal-container">
  <button type="button" class="modal-button">
    <svg class="modal-close-img-wt" width="24" height="24">
      <use href="../img/icons.svg#icon-modal-button"></use>
    </svg>
  </button>
  <h3>Thank you for contact me!</h3>
</div> -->