<header class="header-section">
  <div class="header-container container">
    <div class="name-container">Kamila<span class="name-container-span">Goncharenko</span></div>
    <nav class="nav-menu">
      <ul class="header-menu menu">
        <li class="header-menu-item">
          <a class="header-menu-link" href="#about-me">About me</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#skills">Skills</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#projects">Projects</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="header-mobile-open-btn" type="button">
      <svg class="header-mobile-open-btn-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
