<section class="hero-section">
<div class="hero-container container">
  <div class="hero-title-container">
  <h1 class="visually-hidden">
    Hello, i am Fullstack developer
  </h1>
  <div class="title-firstPart-hero-title">
    <span class="hero-title"
      >Hello, I am</span>
      <img
      class="img-hero"
      srcset="/img/hero/logo.png 1x, /img/hero/logo@2x.png 2x"
      src="/img/hero/logo.png"
      alt="User Photo"
      width="108"
      height="108"
    />
  </div>
  <div>
    <span class="hero-title-pink hero-title">Fullstack developer</span>
  </div>
</div>
</div>
</div>
</section>