<section id="projects" class="project-section section">
  <div class="project-container container">
    <h2 class="project-header">Projects</h2>
    <ul class="project-list">
      <li class="project-item">
        <picture>
          <source
            srcset="
              ./img/project/portfolio-desk.jpg    1x,
              ./img/project/portfolio-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
            ./img/project/portfolio-tablet.jpg    1x,
              ./img/project/portfolio-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/project/portfolio-mobile    1x,
              ./img/project/portfolio-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img class="project-img" src="../img/project/portfolio-desk.jpg" alt="My photo" />
        </picture>
        <div class="project-text-container">
        <div class="project-text">
        <p class="project-skills">HTML/CSS, JavaScript</p>
        <p class="project-name">Portfolio</p>
        </div>
        <div class="project-button">
        <a class="project-link" href="https://hanna-bondarenko.github.io/Portfolio-project-06/" target="_blank" rel="noopener noreferrer">
          <span class="project-link-text">Visit</span>
          <svg class="project-link-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-project-button"></use>
          </svg>
        </a>
        </div>
      </div>
      </li>
      <li class="project-item">
        <picture>
          <source
            srcset="
              ./img/project/ukrainian-clothes-desk.jpg    1x,
              ./img/project/ukrainian-clothes-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/project/ukrainian-clothes-tablet.jpg    1x,
              ./img/project/ukrainian-clothes-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/project/ukrainian-clothes-mobile.jpg    1x,
              ./img/project/ukrainian-clothes-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img class="project-img" src="./img/project/ukrainian-clothes-desk.jpg" alt="My photo" />
        </picture>
        <div class="project-text-container">
        <div class="project-text">
        <p class="project-skills">HTML/CSS, JavaScript</p>
        <p class="project-name">Ukrainian clothes</p>
        </div>
        <div class="project-button">
        <a class="project-link" href="https://natvladyslav.github.io/project-UkrainianClothes/" target="_blank" rel="noopener noreferrer">
          <span class="project-link-text">Visit</span>
          <svg class="project-link-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-project-button"></use>
          </svg>
        </a>
        </div>
        </div>
      </li>
    </ul>
  </div>
</section>