<section class="social-media-section">
  <div class="social-media-container container">
    <ul class="social-media-list">
      <li class="social-media-item">
        <a href="https://github.com/sugakillers" class="social-media-link">
          <svg class="social-media-list-icon" width="32" height="32">
            <use href="./img/icons.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-item">
        <a href="https://www.linkedin.com/in/kamila-goncharenko" class="social-media-link">
          <svg class="social-media-list-icon" width="32" height="32">
            <use href="/img/icons.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-item">
        <a href="mailto:kaamyxs@gmail.com" class="social-media-link">
          <svg class="social-media-list-icon" width="32" height="32">
            <use href="/img/icons.svg#icon-mail"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-item">
        <a href="tel:+34634672022" class="social-media-link">
          <svg class="social-media-list-icon" width="32" height="32">
            <use href="/img/icons.svg#icon-tel"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>