<section class="swiper-section">
  <div class="swiper mySwiper swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide tech_list ">HTML/CSS</div>
      <div class="swiper-slide tech_list ">JavaScript</div>
      <div class="swiper-slide tech_list ">React</div>
      <div class="swiper-slide tech_list ">Node.js</div>
      <div class="swiper-slide tech_list ">React Native</div>
      <div class="swiper-slide tech_list ">Soft skills</div>
    </div>
    <button id="swiper-next-btn" class="swiper-button">
      <svg class="swipper-button" width="40" height="40" stroke="none">
        <use href="./img/icons.svg#icon-swiper"></use>
      </svg>
    </button>
  </div>
</section>