.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.accordion-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
margin: 0;
padding: 0;
  gap: 16px;
}
.accordion-container {
  width: 100%;
  display: flex;
  justify-content: right;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  gap: 20px;
  padding-right: 16px;
  padding-left: 16px;
}
.accordion-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.accordion-item {
  font-family: var(--font-family) !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  letter-spacing: -0.02em !important;
  text-transform: uppercase !important;
  color: #D00084 !important;
  color: #D00084 !important;
  border: none !important;
  border-bottom: 1px solid #D00084 !important;
  padding-bottom: 20px;
  width: 100%;

}
h2 {
  display: block;
  font-size: 1.5em;
  margin-bottom: 12px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.accordion-header {
  justify-content: space-between;
  vertical-align: top;


}
.accordion-panel {
  display: flex;
  justify-content: right;
  gap: 80px !important;
  gap: 10px;

}

.accordion-panel-text {
  width: 465px;


}
.accordion-text {
  color: rgb(0, 0, 0) !important;
margin-bottom: 10px;

}


.accordion-item.is-active > .accordion-header .accordion-button::after {
  content: '' !important;
  display: inline-block !important;
  background-image: url('../img/accordion/up.svg') !important;
  border: 1px solid #D00084;
  border-radius: 100px;
  padding: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.accordion-header .accordion-button::after {
  content: '' !important;
  display: inline-block !important;
  background-image: url('../img/accordion/down.svg') !important;
  border: 1px solid #D00084;
  border-radius: 100px !important;
  padding: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease;
  width: auto;
}
.accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: var(--font-family) !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  letter-spacing: -0.02em !important;
  text-transform: uppercase !important;
  color: #D00084 !important;
  background-color: transparent;
  border: none;
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: left;

}

.aaccordion-item .accordion-button {
  color: #111;
  text-align: left;
  width: 100%;
  padding: 8px 32px 8px 8px;
  display: block;
  cursor: pointer;
  background-color: transparent;
  transition: color .25s ease;
  position: relative;
  text-decoration: none;
  margin: 0;
  border: 0;
}
.accordion-button:hover::after {
  background-color: #FFF4FB;
}
.accordion-panel {
  display: none;
}


.accordion-item.is-active .accordion-panel {
  display: block;
}


@media screen and (min-width: 768px) {
  .accordion-container {
    margin-top: 64px;
    gap: 20px;
    padding-right: 32px;
    padding-left: 32px;
    width: 100%;
    max-width: 704px;

  }
  .accordion-panel {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1280px) {

  .accordion-container {
    width: 1248px;
    margin-top: 96px;
    gap: 32px;
    padding-right: 32px;
    padding-left: 32px;
    width: 100%;
    max-width: 1248px;

  }

}