.footer-section {
  display: flex;
  justify-content: center;
}
.section {
}
.footer-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 80px;

}
.container {
}
.footer-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  font-size: 52px;
  font-weight: 500;
  line-height: 105%;
  letter-spacing: 0.03em;
  color: black;
}
.footer-title-span {
  color: #D00084;
}

/* FORM */

.footer-form-container {
  margin-top: 40px;
}
.footer-form {
}
.form-container {
}
.form-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.form-email-container {

}
.form-email {
  background-color: #FFF4FB;
  border: none;
  border-radius: 8px;
  font-family: "Poppins";
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  width: 100%;
  box-sizing: border-box;
  color: black;

}
.email-success-message {
  color: green;
  display: none;
}
.email-error-message {
  color: red;
  display: none;
}
.form-comment-container {
}
.form-comment {
  background-color: #FFF4FB;
  border: none;
  border-radius: 8px;
  font-family: "Poppins";
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  color: black;
  height: 128px;
  width: 100%;
  box-sizing: border-box;
}
.form-button {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #D00084;
  border: none;
  border-radius: 8px;
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  margin-top: 32px;
}

.form-button:hover {
  background-color: #BF017A;
}


/* MODAL */


.footer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 16, 0.6);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-modal {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  max-height: 160px;
  padding: 48px 32px;
  margin: 0;
  border-radius: 20px;
  background-color: white;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
  transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.footer-backdrop {
}

.modal-button {
}
.modal-img:hover {
}
.modal-text {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #D00084;
}
.modal-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;

}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.no-scroll {
  overflow: hidden;
}

.footer-modal.is-visible {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}



@media screen and (min-width: 768px) {
  .footer-container {
    margin-top: 124px;
    margin-bottom: 124px;
  }

  .footer-modal {
    width: 492px;
    padding: 64px;
  }
  .footer-title {
    font-size: 108px;
  }

  .footer-form-container {
    margin-top: 60px;
  }
  .form-email-container {

  }
  .modal-button {
    top: 20px;
    right: 20px;

  }


}

@media screen and (min-width: 1280px) {

}