
.header-section {
  background-color: #FFF4FB;


}
.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-container-span {
  color: #D00084;
}
.name-container {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
  color: black;
  text-transform: uppercase;
}
.header-menu {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}

.header-menu-link:hover {
color: #BF017A;

}

.header-mobile-open-btn {
  line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    white-space: normal;
    clip-path: none;
    clip: auto;

}
.header-mobile-open-btn-icon {
  color: black;
}

/* MOBILE MENU */

.mobile-backdrop {
  position: absolute;
  top: 72px;
  left: 0;
  width: 100%;
  background-color: rgba(247, 248, 250, 0.9);
  backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 5;
}

.mobile-backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.mobile-menu {
  height: 583px;
  width: 100%;
  text-align: center;
}
.nav-menu-mobile {
height: 100%;
box-sizing: border-box;


}

.nav-list-mobile {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
list-style: none;
}

.nav-list-item-mobile {
  margin-bottom: 20px;
}

.nav-list-item-mobile a {
  text-decoration: none;
  color: #222;
  font-size: 20px;
  transition: color 0.2s ease;
}


.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.menu-icon {
  transition: transform 0.3s ease;
}

.header-mobile-open-btn.active .header-mobile-open-btn-icon {
  transform: rotate(90deg);
}


body.menu-open {
  overflow: hidden;
}


@media screen and (min-width: 768px) {

  .mobile-backdrop,
  .header-mobile-open-btn {
    display: none;
  }

  .nav-menu {
    display: block;
  }

  .header-container {
    padding-top: 32px;
    padding-bottom: 32px;
  }


  .header-mobile-open-btn {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

  }

  .header-menu {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    white-space: normal;
    clip-path: none;
    clip: auto;
  }

  .header-container {
    padding-top: 32px;
  padding-bottom: 32px;
  }

  .header-menu {
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    display: flex;
        gap: 32px;

}
.name-container {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 32px;
  color: black;
  text-transform: uppercase;
}

}
@media screen and (min-width: 1280px) {

  .header-menu {
    gap: 40px;

  }
  .mobile-backdrop {
    display: none;
  }
  }

