.project-section {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;

}
.project-container-title {
  justify-content: center;
text-align: left;
flex-direction: column;
}
.project-container {
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}
.project-header {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  color: #D00084;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}
.project-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;

}
.project-item {
  width: 100%;
}
.project-img {
  border-radius: 16px;
  width: 100%;
}
.project-text {

  margin-top: 12px;
  width: 100%;


}
.project-skills {
  font-family: "Poppins";
  font-weight: 300;
  margin-bottom: 16px;
  letter-spacing: 0.05em;
}
.project-name {
  font-family: "Poppins";
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: black;

}

.project-button {
  text-align: right;
  margin-top: 16px;
}
.project-link {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 12px 24px;
  border-radius: 12px;
  text-decoration: none;
  width: auto;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #FFF4FB;
  align-items: center;
}
.project-link:hover {
  background-color: #F6CEE8;

}
.project-link-text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.project-link-icon {
  display: block;
  width: auto;

}

@media screen and (min-width: 768px) {
  .project-section {
    margin-top: 96px;
  }

  .project-list {
    gap: 60px;
    display: flex;
    align-items: flex-start;
  }

  .project-img {
    border-radius: 24px;
  }
  .project-text-container {
    display: flex;

    align-items: flex-end;
    justify-content: space-between;
  }

  .project-name {
    font-size: 36px;
  }
  .project-link {
    margin: 0;
    white-space: nowrap;
  }

.project-button {
  margin: 0;
}
}

@media screen and (min-width: 1280px) {
  .project-section {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
    margin-top: 164px;
  }
  .project-container {

    width: 100%;
    max-width: 1312px;


  }

}