@import url('./reset.css');
@import url('./common.css');

@import url('./header.css');
@import url('./hero.css');
@import url('./social-media.css');
@import url('./about-me.css');
@import url('./accordion.css');

@import url('./project.css');
@import url('./footer.css');